<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b27b674285.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style_2.css')}}" type="text/css">
    <title>PobrezAR</title>
</head>
<body>
    <nav class="navbar navbar-dark">
        <h2 class='nav-h2'>Calculadora de PobrezAR |</h2>
        <div class="nav-logo">
            <a class="navbar-brand" href="/">
                <i class="fa fa-home"></i> 
            </a>
        </div>
        <div class="nav-logo">
            <a class="navbar-brand" href="/about">
               Acerca de Nosotros</i> 
            </a>
        </div>
        <div class="slider-container">
            <div class="slider">
                <span>El dólar hoy está en  <span class="dollar-flash">{{ dolar['venta'] }}</span> pesos</span>
            </div>
        </div>
    </nav>

